.batlogocontainer {
	height: 180px;
}
.batlogo {
	height: 100%;
	animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.batul {
	border-top: grey solid 2px;
	margin-top: 32px;
	padding-top: 32px;
	display: flex;
	list-style: none;
	gap: 10rem;
	font-size: 1.5rem;
	justify-content: center;
	color: #f3cb11;
}
h1 {
	color: #f3cb11;
}


.rotate-animation {
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
=======
li:hover {
	border: #f3cb11 4px solid;
	border-radius: 20px;
}
li {
	padding: 20px;
}


  
@media screen and (max-width: 650px) {	
	.batlogocontainer, 
	h1 {
		display: flex;
		justify-content: center;
	}

	.batul {
		gap: 0rem;
	}

}

