.videojournal {
	margin-top: 100rem;
}
.batjournal {
	position: relative;
	height: 850px;
	width: 1000px;
	top: -1000px;
	left: 15%;
	background: rgb(0 0 0 / 40%);
}
.batjournal p {
	font-size: 2rem;
}
